body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: linear-gradient(to bottom left,rgb(98, 95, 103) , #fff);
    /* background-image: linear-gradient(-140deg, rgb(98, 95, 103) ,  #fff); */
    
}


* {
  box-sizing: border-box;
}
